In [1]:
! pip install selenium

Requirement already satisfied: selenium in c:\users\arshi maitra\anaconda3\lib\site-packages (4.2.0)
Requirement already satisfied: urllib3[secure,socks]~=1.26 in c:\users\arshi maitra\anaconda3\lib\site-packages (from selenium) (1.26.7)
Requirement already satisfied: trio-websocket~=0.9 in c:\users\arshi maitra\anaconda3\lib\site-packages (from selenium) (0.9.2)
Requirement already satisfied: trio~=0.17 in c:\users\arshi maitra\anaconda3\lib\site-packages (from selenium) (0.20.0)
Requirement already satisfied: outcome in c:\users\arshi maitra\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.1.0)
Requirement already satisfied: idna in c:\users\arshi maitra\anaconda3\lib\site-packages (from trio~=0.17->selenium) (3.2)
Requirement already satisfied: async-generator>=1.9 in c:\users\arshi maitra\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.10)
Requirement already satisfied: attrs>=19.2.0 in c:\users\arshi maitra\anaconda3\lib\site-packages (from trio~=0.17->selenium) (21.2.0)
Requirement already satisfied: cffi>=1.14 in c:\users\arshi maitra\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.14.6)
Requirement already satisfied: sortedcontainers in c:\users\arshi maitra\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: sniffio in c:\users\arshi maitra\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: pycparser in c:\users\arshi maitra\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.20)
Requirement already satisfied: wsproto>=0.14 in c:\users\arshi maitra\anaconda3\lib\site-packages (from trio-websocket~=0.9->selenium) (1.1.0)
Requirement already satisfied: pyOpenSSL>=0.14 in c:\users\arshi maitra\anaconda3\lib\site-packages (from urllib3[secure,socks]~=1.26->selenium) (21.0.0)
Requirement already satisfied: cryptography>=1.3.4 in c:\users\arshi maitra\anaconda3\lib\site-packages (from urllib3[secure,socks]~=1.26->selenium) (3.4.8)
Requirement already satisfied: certifi in c:\users\arshi maitra\anaconda3\lib\site-packages (from urllib3[secure,socks]~=1.26->selenium) (2021.10.8)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\users\arshi maitra\anaconda3\lib\site-packages (from urllib3[secure,socks]~=1.26->selenium) (1.7.1)
Requirement already satisfied: six>=1.5.2 in c:\users\arshi maitra\anaconda3\lib\site-packages (from pyOpenSSL>=0.14->urllib3[secure,socks]~=1.26->selenium) (1.16.0)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\arshi maitra\anaconda3\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.13.0)

# Data Analyst

In [2]:
import selenium
from selenium import webdriver
import pandas as pd
import warnings
warnings.filterwarnings('ignore')
import time

In [3]:
driver=webdriver.Chrome(r"C:\Web_driver\chromedriver.exe")

In [4]:
driver.get("https://www.naukri.com/")

In [5]:
search_designation=driver.find_element_by_class_name("suggestor-input")
search_designation.send_keys("Data Analyst")

In [6]:
search_location=driver.find_element_by_xpath("/html/body/div/div[2]/div[3]/div/div/div[5]/div/div/div/input")
search_location.send_keys("Bangalore")

In [7]:
search_button=driver.find_element_by_xpath("/html/body/div/div[2]/div[3]/div/div/div[6]")
search_button.click()

In [8]:
Job_Title=[]
Company_Name=[]
Location=[]
Experience=[]

In [9]:
Title_tag=driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")
Title_tag[0:10]

[<selenium.webdriver.remote.webelement.WebElement (session="7a03ea7429aea7ff9a7d333576b2d610", element="7ea3318f-e9f7-4c3e-ad7a-257fa02b9bd7")>,
 <selenium.webdriver.remote.webelement.WebElement (session="7a03ea7429aea7ff9a7d333576b2d610", element="49d840ed-ed72-40ea-9f89-c730d4cd66fc")>,
 <selenium.webdriver.remote.webelement.WebElement (session="7a03ea7429aea7ff9a7d333576b2d610", element="af93c18c-84d8-4703-83bb-653344e372e2")>,
 <selenium.webdriver.remote.webelement.WebElement (session="7a03ea7429aea7ff9a7d333576b2d610", element="3bdcba39-e67d-4301-b84c-c2c229515cda")>,
 <selenium.webdriver.remote.webelement.WebElement (session="7a03ea7429aea7ff9a7d333576b2d610", element="1c9b952b-43cb-45f4-9ceb-a16b7416cf58")>,
 <selenium.webdriver.remote.webelement.WebElement (session="7a03ea7429aea7ff9a7d333576b2d610", element="2230dafd-d0de-4683-8ec0-b3b1d5e90d81")>,
 <selenium.webdriver.remote.webelement.WebElement (session="7a03ea7429aea7ff9a7d333576b2d610", element="9cbd231d-3d0e-4b99-9a29-a66898d0384e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="7a03ea7429aea7ff9a7d333576b2d610", element="e98d1373-bfae-44a4-b97f-8aadec8b2266")>,
 <selenium.webdriver.remote.webelement.WebElement (session="7a03ea7429aea7ff9a7d333576b2d610", element="ff1d7b2d-30b2-4c85-9e60-314e2e1e3bd4")>,
 <selenium.webdriver.remote.webelement.WebElement (session="7a03ea7429aea7ff9a7d333576b2d610", element="30ff419c-9991-4ed8-a91d-44f487d14294")>]

In [10]:
for i in Title_tag:
    Job_Title.append(i.text)
Job_Title[0:10]

['Data Analyst / Business Analyst',
 'data analyst/ data analytics / Business analyst- SQL/Python/SAS',
 'Hiring For Data Analyst',
 'Data Analyst',
 'Senior Data Analyst',
 'Data Analyst /Senior Data Analyst/Lead Data Analyst',
 'Data Analyst ( Outsourced)',
 'Master Data Management Business Analyst',
 'Data Analytics and Interpretation Business Analyst',
 'Data Analyst (Sales Analytics) - Bangalore']

In [11]:
Titles=pd.DataFrame(Job_Title)

In [12]:
Company_tag=driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']")
Company_tag[0:10]

[<selenium.webdriver.remote.webelement.WebElement (session="7a03ea7429aea7ff9a7d333576b2d610", element="9d68248d-2f3b-4018-ad44-9cc1f40fd4a4")>,
 <selenium.webdriver.remote.webelement.WebElement (session="7a03ea7429aea7ff9a7d333576b2d610", element="1d20c12e-79dc-4043-88b4-0c2b10171664")>,
 <selenium.webdriver.remote.webelement.WebElement (session="7a03ea7429aea7ff9a7d333576b2d610", element="e5eecc7e-e6f7-495f-b3c9-2eaf44aaa9f5")>,
 <selenium.webdriver.remote.webelement.WebElement (session="7a03ea7429aea7ff9a7d333576b2d610", element="458ffffa-37e0-40e5-9d91-d4fe7b128fe8")>,
 <selenium.webdriver.remote.webelement.WebElement (session="7a03ea7429aea7ff9a7d333576b2d610", element="cfa1cd46-ddf9-4646-98e3-9084f6186117")>,
 <selenium.webdriver.remote.webelement.WebElement (session="7a03ea7429aea7ff9a7d333576b2d610", element="f71e1d40-351a-4549-b837-e7ed9f114510")>,
 <selenium.webdriver.remote.webelement.WebElement (session="7a03ea7429aea7ff9a7d333576b2d610", element="c5b722bc-0aa2-426f-a8ec-b32ea3441658")>,
 <selenium.webdriver.remote.webelement.WebElement (session="7a03ea7429aea7ff9a7d333576b2d610", element="d6e60fc9-afc4-44ab-8c7a-5ffbf8cfb0a9")>,
 <selenium.webdriver.remote.webelement.WebElement (session="7a03ea7429aea7ff9a7d333576b2d610", element="ac6a90eb-869c-49d1-9296-f4a561ed5fed")>,
 <selenium.webdriver.remote.webelement.WebElement (session="7a03ea7429aea7ff9a7d333576b2d610", element="2e57af7a-c55c-47bf-985a-dd6de724335c")>]

In [13]:
for i in Company_tag:
    Company_Name.append(i.text)
Company_Name[0:10]

['METRO Cash & Carry',
 'Leading US MNC into Analytics',
 'Taikee',
 'PharmEasy',
 'Qualitest India Private Limited',
 'Intelliest Technology',
 'ONEPLUS TECHNOLOGY INDIA PRIVATE LIMITED',
 'Accenture',
 'Accenture',
 'K12 Techno Services']

In [14]:
Company_Names=pd.DataFrame(Company_Name)

In [15]:
Location_tag=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']/span[1]")
Location_tag[0:10]

[<selenium.webdriver.remote.webelement.WebElement (session="7a03ea7429aea7ff9a7d333576b2d610", element="f1137cd7-3394-4a4b-8369-49f690c9e9c1")>,
 <selenium.webdriver.remote.webelement.WebElement (session="7a03ea7429aea7ff9a7d333576b2d610", element="0c608dca-b497-423d-baed-0d476f6ab8b3")>,
 <selenium.webdriver.remote.webelement.WebElement (session="7a03ea7429aea7ff9a7d333576b2d610", element="10ea8058-748b-4533-b537-613ea1b3c5e8")>,
 <selenium.webdriver.remote.webelement.WebElement (session="7a03ea7429aea7ff9a7d333576b2d610", element="0ef4cb82-1582-40dd-b2d1-4c6d3bc843e3")>,
 <selenium.webdriver.remote.webelement.WebElement (session="7a03ea7429aea7ff9a7d333576b2d610", element="10686a0b-af87-4370-a384-035ed2358e64")>,
 <selenium.webdriver.remote.webelement.WebElement (session="7a03ea7429aea7ff9a7d333576b2d610", element="aa35165c-0552-4997-b08e-54d22c891c2b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="7a03ea7429aea7ff9a7d333576b2d610", element="8d8556e7-98a6-4a44-ba13-ae2889dc5544")>,
 <selenium.webdriver.remote.webelement.WebElement (session="7a03ea7429aea7ff9a7d333576b2d610", element="34ad29df-dc28-44fa-870f-ddf2a48df9c6")>,
 <selenium.webdriver.remote.webelement.WebElement (session="7a03ea7429aea7ff9a7d333576b2d610", element="d32016ff-e9b4-4951-b32b-16ddb770aeeb")>,
 <selenium.webdriver.remote.webelement.WebElement (session="7a03ea7429aea7ff9a7d333576b2d610", element="da0b7c3e-59b6-4211-ac2e-b1e95a80bf19")>]

In [16]:
for i in Location_tag:
    Location.append(i.text)
Location[0:10]

['Bangalore/Bengaluru',
 'Gurgaon/Gurugram, Bangalore/Bengaluru, Delhi / NCR',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru']

In [17]:
Locations=pd.DataFrame(Location)

In [18]:
Experience_tag=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi experience']/span")
Experience_tag[0:10]

[<selenium.webdriver.remote.webelement.WebElement (session="7a03ea7429aea7ff9a7d333576b2d610", element="47ea9afb-9666-448b-b8f8-e08736b95403")>,
 <selenium.webdriver.remote.webelement.WebElement (session="7a03ea7429aea7ff9a7d333576b2d610", element="686b2e4a-eec4-4bf7-ac08-f2de47efe8c5")>,
 <selenium.webdriver.remote.webelement.WebElement (session="7a03ea7429aea7ff9a7d333576b2d610", element="04be8576-3b6b-420f-90e4-127adc4dc23a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="7a03ea7429aea7ff9a7d333576b2d610", element="092f6980-3a86-4047-9c19-dc07ee1cb1a5")>,
 <selenium.webdriver.remote.webelement.WebElement (session="7a03ea7429aea7ff9a7d333576b2d610", element="b3a178a8-1272-4c79-9476-20830e6f2166")>,
 <selenium.webdriver.remote.webelement.WebElement (session="7a03ea7429aea7ff9a7d333576b2d610", element="7bc3b307-bd8a-4823-938d-ac3676ced167")>,
 <selenium.webdriver.remote.webelement.WebElement (session="7a03ea7429aea7ff9a7d333576b2d610", element="70909e38-2bec-4ac3-a029-63b0c8f913e0")>,
 <selenium.webdriver.remote.webelement.WebElement (session="7a03ea7429aea7ff9a7d333576b2d610", element="e2c26475-3bcc-4fe9-bd36-50e64c0a2eed")>,
 <selenium.webdriver.remote.webelement.WebElement (session="7a03ea7429aea7ff9a7d333576b2d610", element="cc56cf0b-4bc9-45bf-9c71-d252c451f14b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="7a03ea7429aea7ff9a7d333576b2d610", element="3011df6b-b40d-4ade-bcab-c3f79f224ae7")>]

In [19]:
for i in Experience_tag:
    Experience.append(i.text)
Experience[0:10]

['3-8 Yrs',
 '2-7 Yrs',
 '2-5 Yrs',
 '1-3 Yrs',
 '5-8 Yrs',
 '3-8 Yrs',
 '3-5 Yrs',
 '6-8 Yrs',
 '6-8 Yrs',
 '1-6 Yrs']

In [20]:
Experiences=pd.DataFrame(Experience)

In [21]:
Data_Analyst=pd.concat([Titles,Company_Names,Locations,Experiences],axis=1)
Data_Analyst.columns=["Job_Title","Company","Location","Experience"]
Data_Analyst.head(10)

,Job_Title,Company,Location,Experience
0,Data Analyst / Business Analyst,METRO Cash & Carry,Bangalore/Bengaluru,3-8 Yrs
1,data analyst/ data analytics / Business analys...,Leading US MNC into Analytics,"Gurgaon/Gurugram, Bangalore/Bengaluru, Delhi /...",2-7 Yrs
2,Hiring For Data Analyst,Taikee,Bangalore/Bengaluru,2-5 Yrs
3,Data Analyst,PharmEasy,Bangalore/Bengaluru,1-3 Yrs
4,Senior Data Analyst,Qualitest India Private Limited,Bangalore/Bengaluru,5-8 Yrs
5,Data Analyst /Senior Data Analyst/Lead Data An...,Intelliest Technology,Bangalore/Bengaluru,3-8 Yrs
6,Data Analyst ( Outsourced),ONEPLUS TECHNOLOGY INDIA PRIVATE LIMITED,Bangalore/Bengaluru,3-5 Yrs
7,Master Data Management Business Analyst,Accenture,Bangalore/Bengaluru,6-8 Yrs
8,Data Analytics and Interpretation Business Ana...,Accenture,Bangalore/Bengaluru,6-8 Yrs
9,Data Analyst (Sales Analytics) - Bangalore,K12 Techno Services,Bangalore/Bengaluru,1-6 Yrs

# Data Scientist

In [22]:
driver.get("https://www.naukri.com/")

In [23]:
search_designation=driver.find_element_by_xpath("/html/body/div/div[2]/div[3]/div/div/div[1]/div/div/div/input")
search_designation.send_keys("Data Scientist")

In [24]:
search_location=driver.find_element_by_xpath("/html/body/div/div[2]/div[3]/div/div/div[5]/div/div/div/input")
search_location.send_keys("Bangalore")

In [25]:
search_button=driver.find_element_by_xpath("/html/body/div/div[2]/div[3]/div/div/div[6]")
search_button.click()

In [26]:
Job_Title=[]
Company_Name=[]
Location=[]
Experience=[]

In [27]:
Title_tag=driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")
Title_tag[0:10]

[<selenium.webdriver.remote.webelement.WebElement (session="7a03ea7429aea7ff9a7d333576b2d610", element="3ae48336-b48a-4bcd-b3f6-a30eb59badc1")>,
 <selenium.webdriver.remote.webelement.WebElement (session="7a03ea7429aea7ff9a7d333576b2d610", element="280a9970-31dc-47ac-bdfa-701eab33edec")>,
 <selenium.webdriver.remote.webelement.WebElement (session="7a03ea7429aea7ff9a7d333576b2d610", element="ddc346a8-3b25-463a-808b-d7c6a031b1e0")>,
 <selenium.webdriver.remote.webelement.WebElement (session="7a03ea7429aea7ff9a7d333576b2d610", element="bc1de226-5726-4c1a-a3bc-64e7907ae6ad")>,
 <selenium.webdriver.remote.webelement.WebElement (session="7a03ea7429aea7ff9a7d333576b2d610", element="fbe0256d-3fce-4618-93f7-47ad50b051a7")>,
 <selenium.webdriver.remote.webelement.WebElement (session="7a03ea7429aea7ff9a7d333576b2d610", element="74df1be2-5e55-4f7d-89b6-383571670873")>,
 <selenium.webdriver.remote.webelement.WebElement (session="7a03ea7429aea7ff9a7d333576b2d610", element="1863edfc-8e4d-434d-aec7-6bb094f086ce")>,
 <selenium.webdriver.remote.webelement.WebElement (session="7a03ea7429aea7ff9a7d333576b2d610", element="ffb54a64-ff24-4d8a-bc9e-0354a999787e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="7a03ea7429aea7ff9a7d333576b2d610", element="15f71aff-11b8-4783-b6b3-11e77e43db22")>,
 <selenium.webdriver.remote.webelement.WebElement (session="7a03ea7429aea7ff9a7d333576b2d610", element="8c53cd49-753a-490d-8f07-d37cc07e35ad")>]

In [28]:
for i in Title_tag:
    Job_Title.append(i.text)
Job_Title[0:10]

['AI Technologist Vacancy',
 'Job Opening with Wipro For Data Scientist position',
 'Data Scientist',
 'Data Scientist - Immediate Joiners',
 'Data Scientist- AI/ML- R&D',
 'Urgent Hiring For AI Data Scientist',
 'Data Scientist',
 'Data Scientist',
 'Data Scientist',
 'Data Science Expert - Quality & Test Engineering']

In [29]:
Job_Titles=pd.DataFrame(Job_Title)

In [30]:
Company_tag=driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']")
Company_tag[0:10]

[<selenium.webdriver.remote.webelement.WebElement (session="7a03ea7429aea7ff9a7d333576b2d610", element="a1ac5d03-7201-4e31-9bc9-59978f6564b3")>,
 <selenium.webdriver.remote.webelement.WebElement (session="7a03ea7429aea7ff9a7d333576b2d610", element="e99e2aa3-a73a-4eb8-84a8-5f9dd85ab9c2")>,
 <selenium.webdriver.remote.webelement.WebElement (session="7a03ea7429aea7ff9a7d333576b2d610", element="f0a7cf9c-f956-4778-9498-fdd4f2b76c48")>,
 <selenium.webdriver.remote.webelement.WebElement (session="7a03ea7429aea7ff9a7d333576b2d610", element="cfb08af6-a56a-4caf-867d-8a7a565f3c2f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="7a03ea7429aea7ff9a7d333576b2d610", element="ff473d18-37f9-4e85-b184-a5aa7bf5963a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="7a03ea7429aea7ff9a7d333576b2d610", element="098d4fe2-e5fc-4348-abc6-6883847f279b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="7a03ea7429aea7ff9a7d333576b2d610", element="87fd3c71-c095-4d68-80aa-6698fd7b8baf")>,
 <selenium.webdriver.remote.webelement.WebElement (session="7a03ea7429aea7ff9a7d333576b2d610", element="fef285d3-aeac-4884-807d-dd5a4e57fd7a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="7a03ea7429aea7ff9a7d333576b2d610", element="027240e2-8eec-4c11-ba4a-7781468af816")>,
 <selenium.webdriver.remote.webelement.WebElement (session="7a03ea7429aea7ff9a7d333576b2d610", element="c21e3afb-bbe5-4c38-84fc-00bb6556c403")>]

In [31]:
for i in Company_tag:
    Company_Name.append(i.text)
Company_Name[0:10]

['Wipro',
 'Wipro',
 'Genpact',
 'Bristlecone',
 'EXL',
 'Ashkom Media India Private Limited',
 'UPL',
 'UPL',
 'Jacobs',
 'SAP']

In [32]:
Companies=pd.DataFrame(Company_Name)

In [33]:
Location_tag=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']/span")
Location_tag[0:10]

[<selenium.webdriver.remote.webelement.WebElement (session="7a03ea7429aea7ff9a7d333576b2d610", element="a549c889-680c-41f3-8e8c-4684de67ee49")>,
 <selenium.webdriver.remote.webelement.WebElement (session="7a03ea7429aea7ff9a7d333576b2d610", element="96e4cc0e-feb8-4448-b94d-9a2d79718e05")>,
 <selenium.webdriver.remote.webelement.WebElement (session="7a03ea7429aea7ff9a7d333576b2d610", element="663e96b9-bad8-409a-ad76-ec7fa9e7eff1")>,
 <selenium.webdriver.remote.webelement.WebElement (session="7a03ea7429aea7ff9a7d333576b2d610", element="7d3056c0-5a12-4d24-80bb-8b5e9491b0aa")>,
 <selenium.webdriver.remote.webelement.WebElement (session="7a03ea7429aea7ff9a7d333576b2d610", element="67447566-ab33-4945-b6d8-362133f140cb")>,
 <selenium.webdriver.remote.webelement.WebElement (session="7a03ea7429aea7ff9a7d333576b2d610", element="1825f857-0630-47c3-8036-f2e639a15269")>,
 <selenium.webdriver.remote.webelement.WebElement (session="7a03ea7429aea7ff9a7d333576b2d610", element="f6781858-38ed-4cf9-be81-0f1d12e89632")>,
 <selenium.webdriver.remote.webelement.WebElement (session="7a03ea7429aea7ff9a7d333576b2d610", element="50d135b6-8f53-4814-ab33-c6ee748d6f83")>,
 <selenium.webdriver.remote.webelement.WebElement (session="7a03ea7429aea7ff9a7d333576b2d610", element="b9257d03-74c9-4668-a57c-2584f10758c8")>,
 <selenium.webdriver.remote.webelement.WebElement (session="7a03ea7429aea7ff9a7d333576b2d610", element="ed0c5ea2-c3a1-435e-8f23-df1bf8fcc3ae")>]

In [34]:
for i in Location_tag:
    Location.append(i.text)
Location[0:10]

['Kolkata, Hyderabad/Secunderabad, Pune, Ahmedabad, Chennai, Bangalore/Bengaluru, Delhi / NCR, Mumbai (All Areas)',
 'Kolkata, Hyderabad/Secunderabad, Chennai, Bangalore/Bengaluru, Delhi / NCR, Mumbai (All Areas)',
 'Hyderabad/Secunderabad, Bangalore/Bengaluru, Delhi / NCR',
 'Noida, Mumbai, Pune, Bangalore/Bengaluru',
 'Noida, Hyderabad/Secunderabad, Pune, Gurgaon/Gurugram, Chennai, Bangalore/Bengaluru, Delhi / NCR',
 'New Delhi, Bangalore/Bengaluru, Mumbai (All Areas)',
 '(WFH during Covid)',
 'Mumbai, Bangalore/Bengaluru',
 'Bangalore/Bengaluru, Mumbai (All Areas)',
 'Bangalore/Bengaluru, Delhi / NCR, Mumbai (All Areas)']

In [35]:
Locations=pd.DataFrame(Location)

In [36]:
Experience_tag=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi experience']/span")
Experience_tag[0:10]

[<selenium.webdriver.remote.webelement.WebElement (session="7a03ea7429aea7ff9a7d333576b2d610", element="d8fd68a2-fc08-431d-8035-be2b60e8dadc")>,
 <selenium.webdriver.remote.webelement.WebElement (session="7a03ea7429aea7ff9a7d333576b2d610", element="7f9cd2af-59ac-4e02-bd3b-28edd67ea0db")>,
 <selenium.webdriver.remote.webelement.WebElement (session="7a03ea7429aea7ff9a7d333576b2d610", element="5461758a-5476-4d24-9cc7-ed8460769ad2")>,
 <selenium.webdriver.remote.webelement.WebElement (session="7a03ea7429aea7ff9a7d333576b2d610", element="1e76a568-2d39-415a-b242-b4c146ddd707")>,
 <selenium.webdriver.remote.webelement.WebElement (session="7a03ea7429aea7ff9a7d333576b2d610", element="3e3cbdaa-574b-4b54-b961-6fd800eb7328")>,
 <selenium.webdriver.remote.webelement.WebElement (session="7a03ea7429aea7ff9a7d333576b2d610", element="5a9a1045-b5e4-4f0f-8aab-3dd59d550536")>,
 <selenium.webdriver.remote.webelement.WebElement (session="7a03ea7429aea7ff9a7d333576b2d610", element="64a678ef-0c67-47ff-b4c3-d0f1b725ea93")>,
 <selenium.webdriver.remote.webelement.WebElement (session="7a03ea7429aea7ff9a7d333576b2d610", element="8b9a08ea-1907-47b7-8804-131fad6f145a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="7a03ea7429aea7ff9a7d333576b2d610", element="db5d92e0-0969-419e-9ec2-44161f7c95c9")>,
 <selenium.webdriver.remote.webelement.WebElement (session="7a03ea7429aea7ff9a7d333576b2d610", element="5b432300-ba19-440d-9e0f-024c2ff973bd")>]

In [37]:
for i in Experience_tag:
    Experience.append(i.text)
Experience[0:10]

['6-11 Yrs',
 '2-7 Yrs',
 '5-8 Yrs',
 '5-8 Yrs',
 '2-6 Yrs',
 '1-4 Yrs',
 '2-7 Yrs',
 '1-4 Yrs',
 '3-5 Yrs',
 '12-16 Yrs']

In [38]:
Experiences=pd.DataFrame(Experience)

In [39]:
Data_Scientist=pd.concat([Job_Titles,Companies,Locations,Experiences],axis=1)
Data_Scientist.columns=["Job Title","Company_Name","Location","Experience"]
Data_Scientist.head(10)

,Job Title,Company_Name,Location,Experience
0,AI Technologist Vacancy,Wipro,"Kolkata, Hyderabad/Secunderabad, Pune, Ahmedab...",6-11 Yrs
1,Job Opening with Wipro For Data Scientist posi...,Wipro,"Kolkata, Hyderabad/Secunderabad, Chennai, Bang...",2-7 Yrs
2,Data Scientist,Genpact,"Hyderabad/Secunderabad, Bangalore/Bengaluru, D...",5-8 Yrs
3,Data Scientist - Immediate Joiners,Bristlecone,"Noida, Mumbai, Pune, Bangalore/Bengaluru",5-8 Yrs
4,Data Scientist- AI/ML- R&D,EXL,"Noida, Hyderabad/Secunderabad, Pune, Gurgaon/G...",2-6 Yrs
5,Urgent Hiring For AI Data Scientist,Ashkom Media India Private Limited,"New Delhi, Bangalore/Bengaluru, Mumbai (All Ar...",1-4 Yrs
6,Data Scientist,UPL,(WFH during Covid),2-7 Yrs
7,Data Scientist,UPL,"Mumbai, Bangalore/Bengaluru",1-4 Yrs
8,Data Scientist,Jacobs,"Bangalore/Bengaluru, Mumbai (All Areas)",3-5 Yrs
9,Data Science Expert - Quality & Test Engineering,SAP,"Bangalore/Bengaluru, Delhi / NCR, Mumbai (All ...",12-16 Yrs

# Data Scientist_Using Filters

In [40]:
driver.get("https://www.naukri.com/")

In [41]:
search_designation=driver.find_element_by_xpath("/html/body/div/div[2]/div[3]/div/div/div[1]/div/div/div/input")
search_designation.send_keys("Data Scientist")

In [42]:
search_button=driver.find_element_by_xpath("/html/body/div/div[2]/div[3]/div/div/div[6]")
search_button.click()

In [43]:
Location_Filter=driver.find_element_by_xpath("/html/body/div[1]/div[3]/div[2]/section[1]/div[2]/div[5]/div[2]/div[3]/label/p/span[1]")
Location_Filter.click()

In [45]:
Salary_Filter=driver.find_element_by_xpath("/html/body/div[1]/div[3]/div[2]/section[1]/div[2]/div[6]/div[2]/div[2]/label/p/span[1]")
Salary_Filter.click()

In [46]:
Job_Title=[]
Company_Name=[]
Location=[]
Experience=[]

In [47]:
Title_tag=driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")
Title_tag[0:10]

[<selenium.webdriver.remote.webelement.WebElement (session="7a03ea7429aea7ff9a7d333576b2d610", element="8ea10954-d7d5-4d09-81d3-577c346bb573")>,
 <selenium.webdriver.remote.webelement.WebElement (session="7a03ea7429aea7ff9a7d333576b2d610", element="e4046a69-c24d-4298-b195-839fd9736907")>,
 <selenium.webdriver.remote.webelement.WebElement (session="7a03ea7429aea7ff9a7d333576b2d610", element="27945823-573a-4a4d-b4c3-65c70ec69168")>,
 <selenium.webdriver.remote.webelement.WebElement (session="7a03ea7429aea7ff9a7d333576b2d610", element="3c93a043-a912-4a08-9301-db35a5b8c60b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="7a03ea7429aea7ff9a7d333576b2d610", element="44a4c5de-3dc2-4db5-9936-3942f118bf3b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="7a03ea7429aea7ff9a7d333576b2d610", element="a21ae046-57fd-4721-bdb5-4ea0334dafdf")>,
 <selenium.webdriver.remote.webelement.WebElement (session="7a03ea7429aea7ff9a7d333576b2d610", element="18a7031e-e5d1-47fa-9015-2a33e447dafd")>,
 <selenium.webdriver.remote.webelement.WebElement (session="7a03ea7429aea7ff9a7d333576b2d610", element="a63ec009-95d3-49c4-8434-a025b67cb883")>,
 <selenium.webdriver.remote.webelement.WebElement (session="7a03ea7429aea7ff9a7d333576b2d610", element="62aee0ff-c95f-4f68-b58a-cd3b2c3aa483")>,
 <selenium.webdriver.remote.webelement.WebElement (session="7a03ea7429aea7ff9a7d333576b2d610", element="daeb34fd-3b2d-43e3-8fd6-7bb72e85ba65")>]

In [48]:
for i in Title_tag:
    Job_Title.append(i.text)
    
Job_Title[0:10]

['Job Opening with Wipro For Data Scientist position',
 'Data Scientist',
 'Data Scientist -Machine Learning with Python',
 'Data Scientist - Predictive Analytics',
 'Data Scientist - Machine learning AI',
 'Data Scientist - MIND Infotech',
 'Data Scientist - MIND Infotech',
 'Data Scientist - Internet Jobs - II',
 'Machine Learning Engineer | Data Engineer | Data Scientist',
 'Data Scientist (Python) Immediate Joiners']

In [49]:
Job_Titles=pd.DataFrame(Job_Title)

In [50]:
Company_tag=driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']")
Company_tag[0:10]

[<selenium.webdriver.remote.webelement.WebElement (session="7a03ea7429aea7ff9a7d333576b2d610", element="2dd406f1-fb72-4144-a427-b77ca0b9cb87")>,
 <selenium.webdriver.remote.webelement.WebElement (session="7a03ea7429aea7ff9a7d333576b2d610", element="933b0ff2-89c5-4c62-b512-d06cc21cf8b3")>,
 <selenium.webdriver.remote.webelement.WebElement (session="7a03ea7429aea7ff9a7d333576b2d610", element="39b97040-b571-4ef0-91d9-ca3bb2a784b6")>,
 <selenium.webdriver.remote.webelement.WebElement (session="7a03ea7429aea7ff9a7d333576b2d610", element="0de35cc3-660e-40d0-8548-6af48110ee7a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="7a03ea7429aea7ff9a7d333576b2d610", element="ab1be8be-ba2f-4cb8-b2b5-d20eb499199d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="7a03ea7429aea7ff9a7d333576b2d610", element="e8613898-3823-4306-b994-80d4bfcd1d4e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="7a03ea7429aea7ff9a7d333576b2d610", element="322e9fd4-54bd-49d3-950a-d2d54824a167")>,
 <selenium.webdriver.remote.webelement.WebElement (session="7a03ea7429aea7ff9a7d333576b2d610", element="00eeacf5-ff33-4b83-a5f4-5adf154cf702")>,
 <selenium.webdriver.remote.webelement.WebElement (session="7a03ea7429aea7ff9a7d333576b2d610", element="abd95a31-8789-43a2-b836-ab7bd4562ee1")>,
 <selenium.webdriver.remote.webelement.WebElement (session="7a03ea7429aea7ff9a7d333576b2d610", element="e0f30b7d-49da-4e5f-9af8-ed6cedb1bc81")>]

In [51]:
for i in Company_tag:
    Company_Name.append(i.text)
    
Company_Name[0:10]

['Wipro',
 'SS Supply Chain Solutions Pvt. Ltd. (3SC)',
 'Genpact',
 'Confidential',
 'Teq Analytics',
 'MOTHERSONSUMI INFOTECH & DESIGNS LIMITED',
 'MOTHERSONSUMI INFOTECH & DESIGNS LIMITED',
 'Jobs Territory',
 'Tidyquant (OPC) Private Limited',
 'Om Software Internet Solutions Private Limited']

In [52]:
Company_Names=pd.DataFrame(Company_Name)

In [53]:
Location_tag=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']/span[1]")
Location_tag[0:10]

[<selenium.webdriver.remote.webelement.WebElement (session="7a03ea7429aea7ff9a7d333576b2d610", element="f9ed29c5-09e6-4115-ba13-9d981eba9c69")>,
 <selenium.webdriver.remote.webelement.WebElement (session="7a03ea7429aea7ff9a7d333576b2d610", element="52511e4c-6bcf-482e-b7e8-4ae940a90dce")>,
 <selenium.webdriver.remote.webelement.WebElement (session="7a03ea7429aea7ff9a7d333576b2d610", element="72e6ef98-0675-43ac-9eec-750291cee146")>,
 <selenium.webdriver.remote.webelement.WebElement (session="7a03ea7429aea7ff9a7d333576b2d610", element="eb106c41-c16e-4e9b-b951-8def5d1d64f5")>,
 <selenium.webdriver.remote.webelement.WebElement (session="7a03ea7429aea7ff9a7d333576b2d610", element="59485902-0d2e-463e-92fe-6a2634957da3")>,
 <selenium.webdriver.remote.webelement.WebElement (session="7a03ea7429aea7ff9a7d333576b2d610", element="7d61c495-5e19-4db7-91f4-5ef5123fe99a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="7a03ea7429aea7ff9a7d333576b2d610", element="b3b1f6b0-df33-458c-b82a-d3cbd7a47f7e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="7a03ea7429aea7ff9a7d333576b2d610", element="0b70b01b-c1ca-42ce-8ed7-a508690bd5c3")>,
 <selenium.webdriver.remote.webelement.WebElement (session="7a03ea7429aea7ff9a7d333576b2d610", element="5bb27de5-86c3-460c-b74b-d148c64aa07b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="7a03ea7429aea7ff9a7d333576b2d610", element="b795260b-5c20-480b-b9f6-197313d7baa5")>]

In [54]:
for i in Location_tag:
    Location.append(i.text)
Location[0:10]

['Kolkata, Hyderabad/Secunderabad, Chennai, Bangalore/Bengaluru, Delhi / NCR, Mumbai (All Areas)',
 'Pune, Gurgaon/Gurugram, Bangalore/Bengaluru',
 'Noida, New Delhi, Gurgaon/Gurugram, Delhi / NCR',
 'Noida, Mumbai, Chandigarh, Hyderabad/Secunderabad, Pune, Chennai, Gurgaon/Gurugram, Coimbatore, Bangalore/Bengaluru',
 'Bangalore/Bengaluru, Delhi / NCR, Mumbai (All Areas)',
 'Noida',
 'Noida',
 'Bangalore/Bengaluru, Delhi / NCR, Mumbai (All Areas)',
 'Chennai, Bangalore/Bengaluru, Delhi / NCR(Sector-8 Noida)',
 'Noida, Pune, Ahmedabad']

In [55]:
Locations=pd.DataFrame(Location)

In [56]:
Experience_Tag=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi experience']/span")
Experience_Tag[0:10]

[<selenium.webdriver.remote.webelement.WebElement (session="7a03ea7429aea7ff9a7d333576b2d610", element="7a3dd24b-097c-41d6-aff3-62ef1acc87e6")>,
 <selenium.webdriver.remote.webelement.WebElement (session="7a03ea7429aea7ff9a7d333576b2d610", element="01addb72-87c4-467d-8a73-78b8d0448d6c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="7a03ea7429aea7ff9a7d333576b2d610", element="cea00e15-8203-4c78-9c78-a4f03b1f6b8f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="7a03ea7429aea7ff9a7d333576b2d610", element="cba5b378-95b0-4ad3-9127-6f49b6fa25f2")>,
 <selenium.webdriver.remote.webelement.WebElement (session="7a03ea7429aea7ff9a7d333576b2d610", element="e0656584-c76e-4e34-a981-27af157042e1")>,
 <selenium.webdriver.remote.webelement.WebElement (session="7a03ea7429aea7ff9a7d333576b2d610", element="8d8d8070-be77-4913-9fb5-704e10477c91")>,
 <selenium.webdriver.remote.webelement.WebElement (session="7a03ea7429aea7ff9a7d333576b2d610", element="0a7a5f17-95b0-487e-b49f-b70782de2537")>,
 <selenium.webdriver.remote.webelement.WebElement (session="7a03ea7429aea7ff9a7d333576b2d610", element="183fafd2-3b92-4253-a0a0-8fd4d20005b3")>,
 <selenium.webdriver.remote.webelement.WebElement (session="7a03ea7429aea7ff9a7d333576b2d610", element="894ce2d0-66be-488b-934b-958866e3bf33")>,
 <selenium.webdriver.remote.webelement.WebElement (session="7a03ea7429aea7ff9a7d333576b2d610", element="9988b5b3-9a31-459f-b194-46fb3a52ab24")>]

In [57]:
for i in Experience_Tag:
    Experience.append(i.text)
Experience[0:10]

['2-7 Yrs',
 '2-5 Yrs',
 '1-4 Yrs',
 '1-6 Yrs',
 '3-8 Yrs',
 '4-8 Yrs',
 '4-8 Yrs',
 '3-6 Yrs',
 '1-3 Yrs',
 '1-4 Yrs']

In [58]:
Experiences=pd.DataFrame(Experience)

In [59]:
Filter=pd.concat([Job_Titles,Company_Names,Locations,Experiences],axis=1)
Filter.columns=["Job_Title","Company_Name","Location","Experience"]
Filter.head(10)

,Job_Title,Company_Name,Location,Experience
0,Job Opening with Wipro For Data Scientist posi...,Wipro,"Kolkata, Hyderabad/Secunderabad, Chennai, Bang...",2-7 Yrs
1,Data Scientist,SS Supply Chain Solutions Pvt. Ltd. (3SC),"Pune, Gurgaon/Gurugram, Bangalore/Bengaluru",2-5 Yrs
2,Data Scientist -Machine Learning with Python,Genpact,"Noida, New Delhi, Gurgaon/Gurugram, Delhi / NCR",1-4 Yrs
3,Data Scientist - Predictive Analytics,Confidential,"Noida, Mumbai, Chandigarh, Hyderabad/Secundera...",1-6 Yrs
4,Data Scientist - Machine learning AI,Teq Analytics,"Bangalore/Bengaluru, Delhi / NCR, Mumbai (All ...",3-8 Yrs
5,Data Scientist - MIND Infotech,MOTHERSONSUMI INFOTECH & DESIGNS LIMITED,Noida,4-8 Yrs
6,Data Scientist - MIND Infotech,MOTHERSONSUMI INFOTECH & DESIGNS LIMITED,Noida,4-8 Yrs
7,Data Scientist - Internet Jobs - II,Jobs Territory,"Bangalore/Bengaluru, Delhi / NCR, Mumbai (All ...",3-6 Yrs
8,Machine Learning Engineer | Data Engineer | Da...,Tidyquant (OPC) Private Limited,"Chennai, Bangalore/Bengaluru, Delhi / NCR(Sect...",1-3 Yrs
9,Data Scientist (Python) Immediate Joiners,Om Software Internet Solutions Private Limited,"Noida, Pune, Ahmedabad",1-4 Yrs

# Flipkart_Sunglass

In [60]:
driver.get("https://www.flipkart.com/")

In [61]:
search_designation=driver.find_element_by_xpath("/html/body/div[1]/div/div[1]/div[1]/div[2]/div[2]/form/div/div/input")
search_designation.send_keys("sunglasses")

In [63]:
search_button=driver.find_element_by_class_name("L0Z3Pu")
search_button.click()

In [65]:
Brand=[]
for i in range(0,3):
    Brand_Tag=driver.find_elements_by_xpath("//div[ @class='_2WkVRV']")
    for i in Brand_Tag:
        Brand.append(i.text)
    next_button=driver.find_element_by_xpath("/html/body/div[1]/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[11]")
    next_button.click()
    time.sleep(5)

In [66]:
Brand[0:100]

['Ray-Ban',
 'Ray-Ban',
 'Mi',
 'Fastrack',
 'Mi',
 'Fastrack',
 'Elligator',
 'Ray-Ban',
 'SRPM',
 'New Specs',
 'PIRASO',
 'Ray-Ban',
 'PIRASO',
 'Fastrack',
 'ROZZETTA CRAFT',
 'Ray-Ban',
 'Mi',
 'PIRASO',
 'PIRASO',
 'Ray-Ban',
 'SUNBEE',
 'Lee Topper',
 'United Colors of Benetton',
 'Ray-Ban',
 'ROZZETTA CRAFT',
 'United Colors of Benetton',
 'SHAAH COLLECTIONS',
 'Ray-Ban',
 'ROZZETTA CRAFT',
 'Fastrack',
 'PIRASO',
 'Ray-Ban',
 'SHAAH COLLECTIONS',
 'PIRASO',
 'New Specs',
 'Ray-Ban',
 'SUNBEE',
 'AISLIN',
 'ROZZETTA CRAFT',
 'ROZZETTA CRAFT',
 'SRPM',
 'Fastrack',
 'Fastrack',
 'GANSTA',
 'AISLIN',
 'ROYAL SON',
 'Fastrack',
 'VINCENT CHASE',
 'ROZZETTA CRAFT',
 'kingsunglasses',
 'PHENOMENAL',
 'ROZZETTA CRAFT',
 'New Specs',
 'Elligator',
 'Fastrack',
 'Ray-Ban',
 'PHENOMENAL',
 'Lee Topper',
 'ROYAL SON',
 'ROYAL SON',
 'VINCENT CHASE',
 'AISLIN',
 'kingsunglasses',
 'ROYAL SON',
 'Roadster',
 'kingsunglasses',
 'Fastrack',
 'Arnette',
 'ROZZETTA CRAFT',
 'kingsunglasses',
 'kingsunglasses',
 'Ray-Ban',
 'New Specs',
 'ROZZETTA CRAFT',
 'Singco India',
 'ROYAL SON',
 'Lee Topper',
 'Urbanic',
 'ROZZETTA CRAFT',
 'VINCENT CHASE',
 'PIRASO',
 'GANSTA',
 'AISLIN',
 'ROYAL SON',
 'VINCENT CHASE',
 'elegante',
 'AISLIN',
 'ROYAL SON',
 'Ray-Ban',
 'kingsunglasses',
 'ROYAL SON',
 'VINCENT CHASE',
 'Elligator',
 'Fastrack',
 'elegante',
 'VINCENT CHASE',
 'hipe',
 'Fastrack',
 'AISLIN',
 'ROZZETTA CRAFT']

In [67]:
Brands=pd.DataFrame(Brand)

In [68]:
Product_Description=[]
for i in range(0,2):
    Product_Tag=driver.find_elements_by_xpath("//a[@class='IRpwTa']")
    for i in Product_Tag:
           Product_Description.append(i.text)
    next_button=driver.find_element_by_xpath("/html/body/div[1]/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[11]")
    next_button.click()
    time.sleep(5)

In [69]:
Product_Description[0:100]

['UV Protection Retro Square Sunglasses (55)',
 'UV Protection Wayfarer Sunglasses (Free Size)',
 'by Lenskart Polarized, UV Protection Aviator Sunglasses...',
 'UV Protection, Night Vision, Riding Glasses Aviator Sun...',
 'UV Protection Retro Square Sunglasses (54)',
 'UV Protection Over-sized Sunglasses (60)',
 'UV Protection Over-sized Sunglasses (Free Size)',
 'Gradient Aviator Sunglasses (55)',
 'Polarized, UV Protection Retro Square Sunglasses (62)',
 'UV Protection, Gradient Cat-eye Sunglasses (59)',
 'UV Protection Over-sized, Retro Square Sunglasses (64)',
 'UV Protection Aviator Sunglasses (Free Size)',
 'UV Protection, Gradient Cat-eye Sunglasses (58)',
 'UV Protection Round Sunglasses (Free Size)',
 'UV Protection Oval, Aviator Sunglasses (60)',
 'Mirrored, UV Protection Round Sunglasses (Free Size)',
 'UV Protection Wayfarer Sunglasses (54)',
 'UV Protection Retro Square Sunglasses (50)',
 'UV Protection, Night Vision, Riding Glasses Wayfarer, W...',
 'UV Protection, Gradient Oval Sunglasses (58)',
 'UV Protection Wayfarer Sunglasses (56)',
 'UV Protection, Mirrored Clubmaster Sunglasses (53)',
 'UV Protection, Polarized Wrap-around, Sports Sunglasses...',
 'Polarized, Riding Glasses Sports, Wrap-around Sunglasse...',
 'UV Protection, Gradient Butterfly, Over-sized Sunglasse...',
 'UV Protection Retro Square Sunglasses (60)',
 'UV Protection Round Sunglasses (53)',
 'UV Protection, Gradient Butterfly, Shield Sunglasses (6...',
 'UV Protection, Gradient Cat-eye, Oval Sunglasses (61)',
 'UV Protection Wayfarer Sunglasses (55)',
 'UV Protection Wayfarer Sunglasses (53)',
 'UV Protection, Riding Glasses Wayfarer Sunglasses (53)',
 'UV Protection Round, Oval Sunglasses (54)',
 'UV Protection, Gradient Over-sized Sunglasses (62)',
 'UV Protection Rectangular, Retro Square Sunglasses (55)',
 'UV Protection Wayfarer Sunglasses (54)',
 'UV Protection Retro Square Sunglasses (Free Size)',
 'UV Protection Clubmaster Sunglasses (53)',
 'UV Protection Oval Sunglasses (Free Size)',
 'UV Protection, Gradient Butterfly, Shield Sunglasses (6...',
 'UV Protection, Night Vision Wayfarer Sunglasses (Free S...',
 'UV Protection Clubmaster Sunglasses (51)',
 'UV Protection Round, Oval, Cat-eye Sunglasses (56)',
 'Night Vision, Riding Glasses Wayfarer Sunglasses (53)',
 'Polarized, UV Protection Round Sunglasses (52)',
 'UV Protection Round Sunglasses (Free Size)',
 'Toughened Glass Lens, UV Protection Wayfarer, Rectangul...',
 'UV Protection Butterfly, Over-sized Sunglasses (62)',
 'UV Protection Round Sunglasses (54)',
 'UV Protection, Gradient Butterfly, Over-sized Sunglasse...',
 'UV Protection Retro Square Sunglasses (Free Size)',
 'Mirrored Rectangular Sunglasses (58)',
 'UV Protection Oval Sunglasses (70)',
 'Toughened Glass Lens, UV Protection Round Sunglasses (5...',
 'UV Protection, Polarized Wrap-around, Sports Sunglasses...',
 'UV Protection, Night Vision Wayfarer Sunglasses (52)',
 'UV Protection, Gradient, Riding Glasses Retro Square Su...',
 'UV Protection Rectangular Sunglasses (52)',
 'Gradient Round Sunglasses (58)',
 'UV Protection Round Sunglasses (Free Size)',
 'Polarized, UV Protection, Riding Glasses Wayfarer, Rect...',
 'UV Protection Wayfarer Sunglasses (46)',
 'Gradient Cat-eye Sunglasses (55)',
 'Polarized, Riding Glasses Sports, Wrap-around Sunglasse...',
 'UV Protection Oval, Aviator Sunglasses (58)',
 'UV Protection, Gradient Butterfly Sunglasses (52)',
 'UV Protection Aviator Sunglasses (57)',
 'UV Protection Round Sunglasses (50)',
 'UV Protection Oval, Aviator Sunglasses (62)',
 'UV Protection Over-sized Sunglasses (61)',
 'UV Protection Sports Sunglasses (65)',
 'Mirrored Aviator Sunglasses (Free Size)',
 'UV Protection Oval Sunglasses (63)',
 'UV Protection, Gradient Over-sized, Butterfly Sunglasse...',
 'UV Protection, Gradient, Riding Glasses Wayfarer Sungla...',
 'UV Protection, Gradient Round Sunglasses (58)',
 'UV Protection Rectangular Sunglasses (Free Size)',
 'by Lenskart Polarized, UV Protection Aviator Sunglasses...']

In [70]:
Product_Descriptions=pd.DataFrame(Product_Description)

In [81]:
Price=[]
for i in range(0,3):
    Price_Tag=driver.find_elements_by_xpath("//div[@class='_30jeq3']")
    for i in Price_Tag:
           Price.append(i.text)
    next_button=driver.find_element_by_xpath("/html/body/div[1]/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[11]")
    next_button.click()
    time.sleep(5)

In [82]:
Price[0:100]

['2,639',
 '1,008',
 '649',
 '649',
 '639',
 '699',
 '199',
 '242',
 '280',
 '265',
 '199',
 '486',
 '319',
 '989',
 '599',
 '531',
 '449',
 '219',
 '199',
 '599',
 '283',
 '739',
 '299',
 '279',
 '449',
 '669',
 '314',
 '559',
 '195',
 '629',
 '410',
 '449',
 '272',
 '279',
 '259',
 '249',
 '299',
 '449',
 '639',
 '559',
 '759',
 '287',
 '387',
 '250',
 '2,549',
 '699',
 '307',
 '215',
 '899',
 '213',
 '599',
 '449',
 '207',
 '359',
 '387',
 '449',
 '279',
 '195',
 '449',
 '1,145',
 '341',
 '265',
 '332',
 '215',
 '531',
 '1,025',
 '206',
 '279',
 '330',
 '720',
 '683',
 '215',
 '195',
 '681',
 '269',
 '228',
 '329',
 '189',
 '359',
 '322',
 '372',
 '398',
 '231',
 '559',
 '776',
 '499',
 '215',
 '504',
 '720',
 '233',
 '699',
 '369',
 '299',
 '390',
 '599',
 '369',
 '248',
 '1,599',
 '179',
 '501']

In [86]:
Prices=pd.DataFrame(Price)

In [83]:
Discount=[]
for i in range(0,3):
    Discount_Tag=driver.find_elements_by_xpath("//div[@class='_3Ay6Sb']")
    for i in Discount_Tag:
           Discount.append(i.text)
    next_button=driver.find_element_by_xpath("/html/body/div[1]/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[11]")
    next_button.click()
    time.sleep(5)

In [84]:
Discount[0:100]

['45% off',
 '20% off',
 '45% off',
 '30% off',
 '84% off',
 '88% off',
 '87% off',
 '87% off',
 '86% off',
 '23% off',
 '77% off',
 '86% off',
 '87% off',
 '78% off',
 '81% off',
 '79% off',
 '81% off',
 '84% off',
 '88% off',
 '21% off',
 '84% off',
 '89% off',
 '78% off',
 '81% off',
 '80% off',
 '80% off',
 '74% off',
 '20% off',
 '54% off',
 '15% off',
 '88% off',
 '53% off',
 '30% off',
 '22% off',
 '25% off',
 '79% off',
 '76% off',
 '74% off',
 '86% off',
 '79% off',
 '83% off',
 '21% off',
 '82% off',
 '89% off',
 '79% off',
 '73% off',
 '83% off',
 '84% off',
 '65% off',
 '80% off',
 '63% off',
 '88% off',
 '81% off',
 '82% off',
 '55% off',
 '86% off',
 '79% off',
 '85% off',
 '78% off',
 '84% off',
 '85% off',
 '82% off',
 '79% off',
 '86% off',
 '86% off',
 '88% off',
 '79% off',
 '86% off',
 '88% off',
 '30% off',
 '76% off',
 '88% off',
 '80% off',
 '70% off',
 '59% off',
 '88% off',
 '5% off',
 '88% off',
 '60% off',
 '84% off',
 '87% off',
 '88% off',
 '63% off',
 '87% off',
 '80% off',
 '80% off',
 '70% off',
 '65% off',
 '80% off',
 '87% off',
 '82% off',
 '76% off',
 '20% off',
 '76% off',
 '12% off',
 '87% off',
 '78% off',
 '73% off',
 '66% off',
 '65% off']

In [85]:
Discounts=pd.DataFrame(Discount)

In [87]:
Flipkart_Sunglass=pd.concat([Brands,Product_Descriptions,Prices,Discounts],axis=1)
Flipkart_Sunglass.columns=['Brand','Product_Description','Price','Discount']
Flipkart_Sunglass.head(100)

,Brand,Product_Description,Price,Discount
0,Ray-Ban,UV Protection Retro Square Sunglasses (55),"2,639",45% off
1,Ray-Ban,UV Protection Wayfarer Sunglasses (Free Size),"1,008",20% off
2,Mi,"by Lenskart Polarized, UV Protection Aviator S...",649,45% off
3,Fastrack,"UV Protection, Night Vision, Riding Glasses Av...",649,30% off
4,Mi,UV Protection Retro Square Sunglasses (54),639,84% off
...,...,...,...,...
95,VINCENT CHASE,NaN,369,87% off
96,hipe,NaN,248,78% off
97,Fastrack,NaN,"1,599",73% off
98,AISLIN,NaN,179,66% off
99,ROZZETTA CRAFT,NaN,501,65% off

# FlipKart_iphone11

In [88]:
driver.get("https://www.flipkart.com/")

In [89]:
search_designation=driver.find_element_by_xpath("/html/body/div/div/div[1]/div[1]/div[2]/div[2]/form/div/div/input")
search_designation.send_keys("iphone 11")

In [90]:
search_button=driver.find_element_by_class_name("L0Z3Pu")
search_button.click()

In [91]:
search_product=driver.find_element_by_xpath("/html/body/div/div/div[3]/div[1]/div[2]/div[2]/div/div/div/a/div[2]/div[1]/div[1]")
search_product.click()

In [102]:
Rating=[]
for i in range(0,2):
    Rating_Tag=driver.find_elements_by_xpath("//div[@class='_3LWZlK _1BLPMq']")
    for i in Rating_Tag:
           Rating.append(i.text)
    next_button=driver.find_element_by_class_name("_1LKTO3")
    next_button.click()
    time.sleep(5)

In [103]:
Rating[0:99]

[]